@use "../base/mixins" as *;

.index-header {
  min-height: 95vh;
  background-image: url("../../img/img-header-portfolio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  @include flex-center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header-content {
    position: relative;
    z-index: 1;
  }
}
