@use "variables" as *;

body {
  background-color: $color-fondo;
  color: $color-texto;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 56px;
}
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  padding: 12px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;

  &:hover {
    background-color: #1ebe5d;
    color: #fff;
  }
}

